
/* Let's import the lovely google font, please keep this line at the top of your stylesheet */
/* Menu CSS */#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: '나눔', '나눔고딕';
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: '';
  display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}
#cssmenu {
  width: auto;
  zoom: 1;
  height: 49px;
  background:#6fa8d2;
  border-radius: 2px;
  margin: 1px 2px 0;
}
#cssmenu ul {
  background:#336699;
  height: 39px;
}
#cssmenu ul li {
  float: left;
  list-style: none;
}
#cssmenu ul li a {
  display: block;
  height: 27px;
  padding: 15px 30px 0;
  margin: 0px 2px 0;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
  font-weight: bold;
  opacity: .9;
}
#cssmenu ul li:first-child a {
  margin: 0px 2px 0 0;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  background:#6fa8d2;
  display: block;
  height: 30;
  margin-top: 0px;
  padding-top: 15px;
  color: #ffffff;
  
  opacity: 1;
}
